<h1>My Video Player</h1>
<div id="app">
    <video id="myvideo"></video>
    <div id="controlbar">
        <div>
            <input type="text" name="video-source" value="" placeholder="video url">
            <button id="load-src-btn">Load</button>
        </div>
        <div>
            <button id="play-pause-btn">Play</button>
            <button id="vol-up-btn">Vol+</button>
            <button id="vol-down-btn">Vol-</button>
            <div id="time">
                <span>Time: </span>
                <input type="text" name="time" value="">
                <span>/</span>
                <span id="duration"></span>
            </div>
        </div>
    </div>
</div>